.contact-container {
    font-family: 'Montserrat', sans-serif; 
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    margin-top: 18%; /* Adjust based on your navbar height */
    padding: 20px;
  }

form {
    display: flex;
    flex-direction: column;
}

input, select, textarea {
    margin-bottom: 20px; /* Increased spacing */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 120px;
    resize: vertical;
}

button {
    padding: 12px;
    background: #11356f;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover {
    background-color: #ccc;
}

/* Mobile Menu */
@media (max-width: 768px) {
  .contact-container {
      max-width: 100%; /* Use full width on mobile */
      padding: 10px;
  }

  input, select, textarea {
      width: 100%; /* Ensures form fields adjust to screen width */
  }
}