.home {
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .events-section {
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
  }

  .home-container {
    display: flex;
    font-family: 'Montserrat', sans-serif; 
    width: 75%; /* Takes 90% of the screen width */
    max-width: 1200px; /* Maximum width for large screens */
    margin: 0 auto; /* Centers the container */
    padding: 5px; /* Adds some spacing inside */
    border-radius: 15px; /* Smooth rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin-top: 18%;  
    background-color: #2ea5d4;
    flex-direction: column;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    text-align: center; /* Centers text inside */
    gap: 10px;
    padding-top: 20px; /* Adds space from the top */
}