.news-container {
    padding: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #f9f9f9;
    border-radius: 15px;
    color: #000000;
  }
  
.news-item {
  margin-bottom: 10%;
  font-size: 18px;
 }

.news-image {
  max-height: 10%;
  width: auto; /* Keeps the aspect ratio */
}